{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>test</h1>
<div id="myKanban"></div>
<br>
    <button id="addDefault">Add "Default" board</button>
    <br />
    <button id="addToDo">Add element in "To Do" Board</button>
    <br />
    <button id="addToDoAtPosition">Add element in "To Do" Board at position 2</button>
    <br />
    <button id="removeBoard">Remove "Done" Board</button>
    <br />
    <button id="removeElement">Remove "My Task Test"</button>
    <script src="{%static "JS/main.js" %}"></script>
{% endblock %}